@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
  font-family: Raleway, Sans-serif !important;;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.logo {
  height: 20%;
  width: 20%;
  margin-left: 20%;
}

.navbar-nav {
  margin-right: 20%;
}

.footer {
  display: flex;
  height: 20vh;
  background-color: #00afab;
  text-align: end;
}

.footer-content {
  flex-basis: 1;
  margin: auto;
}

.footer-logo {
  height: 63px;
  width: 150px;
  margin: auto;
  margin-top: 20px;
}

.footer-info {
  color: white;
  margin-top: 5px;
}

.address {
  margin-top: 30px;
  color: black;
  font-size: smaller;
}

/*150x63*/